body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 300;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

#header {
  background-color: #1a1b4675;
  margin: 3rem;
  padding: 5px;
}

img {
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 300;
  margin: 0px;
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

.subtitle {
  font-weight: 300;
  margin: 0px;
  font-size: 14px;
  color: #fff;
  padding: 10px;
}

hr {
  border-color: #00000033;
  width: 65%;
}

